h1 {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    font-family: 'Rampart One', cursive;
}

body {
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 21%, rgba(2,0,36,1) 72%, rgba(9,9,121,1) 100%);
}

#eightball {
    border-radius: 50%;
    background-color: black;
    height: 500px;
    width: 500px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 50px;
    border-style: solid;
    /* border-color: transparent transparent #007bff transparent; */
}

#inner-circle {
    border-radius: 50%;
    border: 3px solid gray;
    width: 290px;
    height: 290px;
    margin: 100px;
}

#triangle {
    height: 0;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid blue;
    margin: 20px 30px 30px 40px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

#answer {
    color: white;
    font-family: helvetica;
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 0.9rem;
}

#example-question {
    margin: 20px;
}

@keyframes FadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    animation-name: FadeIn;
    animation-duration: 3s;
    transition-timing-function: linear;
}

