
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    font-family: 'Rampart One', cursive;
}


#eightball {
    border-radius: 50%;
    background-color: black;
    
    display: block;
    align-items: center;
    justify-content: center;
    margin: 50px;

    width: 0;
height: 0;
border-style: solid;
border-width: 0 100px 200px 100px;
border-color: transparent transparent #007bff transparent;

}

#example-question {
    margin: 20px;
}

#answer {
    background-color: mediumblue;
    color: white;
    font-family: helvetica;
    text-transform: uppercase;

}